*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #009688), url(Images/images\ \(2\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.login-box{
    width: 400px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
}

.login-box h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
}

.login-box .input-box{
    text-align: center;
    padding: 10px 20px;
}

.login-box .input-box input{
    padding: 10px 20px;
    background: none;
    border: none;
    border: 1px solid #fff;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 20px;
}

::placeholder{
    color: #fff;
    font-size: 20px;
}

.login-box .input-box input:hover{
    box-shadow: 0 0 10px 10px rgba(9, 239, 255, 0.5);
    transition: .5s ease-out;
}


.submit{
    color: #fff;
    margin: 10px 30px;
    padding: 0;
}

.submit a{
    color: #08f0d9;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 1s;
}

.submit a:hover{
    color: #01031f;
    background: #08f0d9;
    box-shadow: 0 0 5px #08f0d9, 0 0 25px #08f0d9, 0 0 50px #08f0d9, 0 0 100px #08f0d9;
}


.forgot-password{
    text-align: center;
    position: absolute;
    align-items: center;
    margin-top: -30px;
    display: flex;
    margin: -30px 10rem;
    margin-right: auto;
}

.forgot-password a{
    color: #0000ff;
    text-decoration: none;
    transition: 0.5s;
}

.forgot-password a:hover{
    color: #00e1ff;
}